@{
    ViewBag.Title = "API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="position: relative; float: left"><img src="~/Content/images/@(ViewBag.CompanyName).png" style="margin-left: -22px;" /></div>
<div style="display: inline;">
    <h2>@ViewBag.CompanyName Current Tweets</h2>
</div>

<br clear="all" />

<div class="tweetgrid-container bg-normal" >
    @foreach (dynamic item in Model)
    {
        <div class="tweetgrid-item bg-normalInside"><a href='@item.Url' target="_blank">@item.Text</a></div>
    }
</div>

<br />
<button type="button" class="btn btn-outline-secondary" disabled><a href='https://twitter.com/@ViewBag.CompanyName' target="_blank">View More</a></button>


